.flowchart {
  @mixin supportsGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, min-content);
    grid-template-areas:
      ".        .         start       start       .           .      "
      "pt1      pt1       pt1         .           .           .      "
      "d1       d1        pt4         pt4         about       about  "
      "d1       d1        pt4         pt4         contact     contact"
      "pt3      pt3       .           .           .           .      "
      "d2       d2        pt5         pt5         port        port   "
      "d2       d2        pt5         pt5         stack       stack  "
      "pt2      pt2       pt2         .           .           .      "
      ".        .         end         end         .           .      ";
  }
  font-size: 1rem; /* baseline */
  position: relative;
  
  padding: 100vh 4vmax 30vmax 4vmax;

  @mixin atSmall {
    padding: 35vmax 10vmax 35vmax 10vmax;
  }
  
  @mixin atMedium {
    padding: 32vmax 20vmax 32vmax 20vmax;
  }

  @mixin atLarge {
    padding: 25vmax 25vmax 25vmax 25vmax;
  }

  @mixin atXLarge {
    padding: 23vmax 30vmax 23vmax 30vmax;
  }
  
  @mixin atULarge {
    padding: 20vmax 35vmax 20vmax 35vmax;
  }
 
  /* EFFECTS */
  mix-blend-mode: overlay;

  & div {
    /* 
      mix-blend-mode: screen;
    */
    /* display: flex; */
    mix-blend-mode: overlay;
  }

  
  & .shape--button .shape__rect--inverted {
    transition: all .6s;

    &:hover {
      cursor: pointer;
      fill: hsla(0, 0%, 0%, 0);
      stroke: hsla(128, 100%, 0%, 1);
      /* stroke: white; */
      /* border: 5px solid red; */
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 52%;
    width: 102vw;
    /* height: 100%; */
    height: 100%;
    transform: translateX(-52%);
    z-index: -1;
    opacity: 0.7;
    box-sizing: border-box;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: $gradient-top-left-mixed, url($bgDefaultImageUrl);
    background-blend-mode: color;
  }

  /* rectangles */
  &__start {
    @mixin supportsGrid {
      grid-area: start;
    }
  }

  &__end {
    @mixin supportsGrid {
      grid-area: end;
    }
  }

  /* rectangles / buttons */
  &__btn {
    /* display: flex; */

    &--about {
      @mixin supportsGrid {
        grid-area: about;
      }
    }
    &--contact {
      @mixin supportsGrid {
        grid-area: contact;
      }
    }
    &--portfolio {
      @mixin supportsGrid {
        grid-area: port;
      }
    }
    &--stack {
      @mixin supportsGrid {
        grid-area: stack;
      }
    }
  }
  /* 
  &__about {
    @mixin supportsGrid {
      grid-area: about;
    }

    display: flex;
  }

  &__contact {
    @mixin supportsGrid {
      grid-area: contact;
    }

    display: flex;
  }

  &__portfolio {
    @mixin supportsGrid {
      grid-area: port;
    }

    display: flex;
  }

  &__stack {
    @mixin supportsGrid {
      grid-area: stack;
    }

    display: flex;
  }
 */
  /* rectangles / diamonds */
  &__d1 {
    @mixin supportsGrid {
      grid-area: d1;
    }
  }

  &__d2 {
    @mixin supportsGrid {
      grid-area: d2;
    }
  }

  /* lines */
  &__pt1 {
    @mixin supportsGrid {
      grid-area: pt1;
    }
  }

  &__pt2 {
    @mixin supportsGrid {
      grid-area: pt2;
    }
  }

  &__pt3 {
    @mixin supportsGrid {
      grid-area: pt3;
    }
  }

  &__pt4 {
    @mixin supportsGrid {
      grid-area: pt4;
    }
  }

  &__pt5 {
    @mixin supportsGrid {
      grid-area: pt5;
    }
  }
}
