.flowchart {
  @mixin supportsGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, min-content);
    grid-template-areas:
      ".        .         start       start       .           .      "
      "pt1      pt1       pt1         .           .           .      "
      "d1       d1        pt4         pt4         about       about  "
      "d1       d1        pt4         pt4         contact     contact"
      "pt3      pt3       .           .           .           .      "
      "d2       d2        pt5         pt5         port        port   "
      "d2       d2        pt5         pt5         stack       stack  "
      "pt2      pt2       pt2         .           .           .      "
      ".        .         end         end         .           .      ";
  }
  font-size: 1rem; /* baseline */
  position: relative;
  
  @mixin atSmall {
    padding: 0vh 0vw;
  }

  @mixin atMedium {
    padding: 20vh 5vw;
  }

  @mixin atLarge {
    padding: 22vh 10vw;
  }

  @mixin atXLarge {
    padding: 24vh 15vw;
  }
  
  @mixin atULarge {
    padding: 26vh 20vw;
  }
  
  /* mix-blend-mode: multiply; */

  /* EFFECTS */
  mix-blend-mode: overlay;

  & div {
    /* 
      mix-blend-mode: screen;
    */
    mix-blend-mode: screen; 
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 52%;
    width: 102vw;
    /* height: 100%; */
    height: 100%;
    transform: translateX(-52%);
    z-index: -1;
    opacity: 0.7;
    box-sizing: border-box;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: $gradient-top-left-mixed, url($bgDefaultImageUrl);
    background-blend-mode: color;
  }

  /* rectangles */
  &__start {
    @mixin supportsGrid {
      grid-area: start;
    }
  }

  &__end {
    @mixin supportsGrid {
      grid-area: end;
    }
  }

  /* rectangles / buttons */
  &__about {
    @mixin supportsGrid {
      grid-area: about;
    }

    display: flex;
  }

  &__contact {
    @mixin supportsGrid {
      grid-area: contact;
    }

    display: flex;
  }

  &__portfolio {
    @mixin supportsGrid {
      grid-area: port;
    }

    display: flex;
  }

  &__stack {
    @mixin supportsGrid {
      grid-area: stack;
    }

    display: flex;
  }

  /* rectangles / diamonds */
  &__d1 {
    @mixin supportsGrid {
      grid-area: d1;
    }
  }

  &__d2 {
    @mixin supportsGrid {
      grid-area: d2;
    }
  }

  /* lines */
  &__pt1 {
    @mixin supportsGrid {
      grid-area: pt1;
    }
  }

  &__pt2 {
    @mixin supportsGrid {
      grid-area: pt2;
    }
  }

  &__pt3 {
    @mixin supportsGrid {
      grid-area: pt3;
    }
  }

  &__pt4 {
    @mixin supportsGrid {
      grid-area: pt4;
    }
  }

  &__pt5 {
    @mixin supportsGrid {
      grid-area: pt5;
    }
  }
}
