$footerTextColor: hsla(0, 30%, 90%, 1);
$footerLinkColor: hsla(0, 50%, 90%, 1);

.footer {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  opacity: 1;
  padding: 2em 0;

  @mixin flexVerticalCenter;
  justify-content: space-between;
  
  &__message {
    color: $footerTextColor;
  }

  &__lnk {
    color: $footerLinkColor;
  }

  @mixin atMedium {
    font-size: clamp(1.4em, 4vmax + 1em, 1.4vmax);
    flex-direction: row;
    justify-content: space-between;
  }
}
