.header {
  /* display: flex; */
  font-size: 1rem; /* baseline */
  background: none;
  
  /* index.html */
  &--initial {
    @mixin flexCenter;
    
    @mixin atSmall {
      padding: clamp(4em, 4vmax + 1em, 10vmax) 0;
      justify-content: center;
    }

    @mixin atMedium {
      justify-content: left;
      padding-top: clamp(4em, 4vmax + 1em, 10vmax);
    }
  }

  /* 
      stack.html, 
      portfolio.html,
      about.html 
      ...
    */
  &--standard {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr min-content 5fr min-content 3fr min-content 6fr;
      grid-template-areas:
        ".          "
        "btn_close  "
        ".          "
        "headline   "
        ".          "
        "scroll_icon"
        ".          ";
    }

    /* height: 100vh; */
    height: 20vh;
    width: 100%;
    font-size: 1rem; /* baseline */
  }
}
