/* ⌘ LAYOUT TEMPLATE ⌘ */
[data-page="template"] .layout {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 10vh 70vh 20vh auto 200px;
  grid-template-areas:
    ".        close       close"
    "header   header      header"
    ".        scroll      ."
    ".        content     .     "
    ".        footer      .     ";

  @mixin atSmall {
    gap: 3em 0;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 10em min-content auto 200px;
    grid-template-areas:
      ".      close        close"
      ".      header       ."
      ".      content      ."
      ".      footer       .";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 20fr 1fr;
      grid-template-rows: 10em min-content auto 10vmax;
      grid-template-areas:
        ".      close        close"
        ".      header       ."
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 20fr 1fr;
      grid-template-rows: 15em auto 10vmax;
      grid-template-areas:
        ".      header        close"
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 20fr 1fr;
      grid-template-rows: 15em auto 8vmax;
      grid-template-areas:
        ".      header        close"
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 20fr 1fr;
      grid-template-rows: 15em auto 6vmax;
      grid-template-areas:
        ".      header       close"
        ".      content      ."
        ".      footer       .";
    }
  }

  /* CLOSE BUTTON */
  &__close {
    mix-blend-mode: normal;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @mixin supportsGrid {
      grid-area: close;
    }
  }

  /* SCROLL INDICATOR BUTTON */
  &__scroll-indicator {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 30;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    visibility: visible;
    @mixin supportsGrid {
      grid-area: scroll;
    }

    @mixin atSmall {
      display: none;
    }
  }

  /* HEADER */
  &__header {
    @mixin supportsGrid {
      grid-area: header;
    }

    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    font-size: 1rem; /* baseline */
    z-index: 30;
    @mixin flexCenter;
  
    @mixin atSmall {
      justify-content: center;
      /* padding: clamp(4em, 4vmax + 1em, 10vmax) 0; */
    }

    @mixin atMedium {
      justify-content: left;
      /* padding-top: clamp(4em, 4vmax + 1em, 10vmax); */
    }
  }

  /* CONTENT */
  &__content {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 20;
    @mixin supportsGrid {
      grid-area: content;
    }
  }

  /* FOOTER */  
  &__footer {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 30;
    @mixin supportsGrid {
      grid-area: footer;
    }
  }    
}

/* ⌘ LAYOUT ⌘ */
[data-page="index"] .layout {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 80vh 20vh auto 200px;
  grid-template-areas:
    "header   header      header"
    ".        scroll      ."
    ".        content     .     "
    ".        footer      .     ";

  @mixin atSmall {
    gap: 3em 0;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: min-content auto 200px;
    grid-template-areas:
      ".      header       ."
      ".      content      ."
      ".      footer       .";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content auto 10vmax;
      grid-template-areas:
        ".      header       ."
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content auto 10vmax;
      grid-template-areas:
        ".      header       ."
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content auto 8vmax;
      grid-template-areas:
        ".      header       ."
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content auto 6vmax;
      grid-template-areas:
        ".      header       ."
        ".      content      ."
        ".      footer       .";
    }
  }

  /* SCROLL INDICATOR BUTTON */
  &__scroll-indicator {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 30;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    visibility: visible;
    @mixin supportsGrid {
      grid-area: scroll;
    }

    @mixin atSmall {
      display: none;
    }
  }

  /* HEADER */
  &__header {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    font-size: 1rem; /* baseline */
    z-index: 30;
    /* width: 100%; */

    @mixin supportsGrid {
      grid-area: header;
    }

    @mixin flexCenter;
  
    @mixin atSmall {
      justify-content: center;
      /* padding: clamp(4em, 4vmax + 1em, 10vmax) 0; */
    }

    @mixin atMedium {
      justify-content: left;
      /* padding-top: clamp(4em, 4vmax + 1em, 10vmax); */
    }
  }

  /* CONTENT */
  &__content {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 20;
    @mixin supportsGrid {
      grid-area: content;
    }
  }

  /* FOOTER */  
  &__footer {
    /* mix-blend-mode: normal; */
    /* mix-blend-mode: overlay; */
    mix-blend-mode: multiply;
    z-index: 30;
    @mixin supportsGrid {
      grid-area: footer;
    }
  }    
}

[data-page="about"] .layout {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 10vh auto 200px;
  grid-template-areas:
    ".        close       close"
    "content        content     content"
    ".        footer      .     ";

  @mixin atSmall {
    gap: 3em 0;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 10em auto 200px;
    grid-template-areas:
      ".      close        close"
      ".      content      ."
      ".      footer       .";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 10em auto 10vmax;
      grid-template-areas:
        ".      close        close"
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: 10em auto 10vmax;
      grid-template-areas:
        ".      .            close"
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 10em auto 8vmax;
      grid-template-areas:
        ".      .            close"
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 10em auto 6vmax;
      grid-template-areas:
        ".      .            close"
        ".      content      ."
        ".      footer       .";
    }
  }

  /* CLOSE BUTTON */
  &__close {
    mix-blend-mode: normal;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @mixin supportsGrid {
      grid-area: close;
    }
  }

  /* CONTENT */
  &__content {
    /* mix-blend-mode: normal; */
    /* mix-blend-mode: overlay; */
    mix-blend-mode: normal;
    z-index: 20;
    @mixin supportsGrid {
      grid-area: content;
    }
  }

  /* FOOTER */  
  &__footer {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 30;
    @mixin supportsGrid {
      grid-area: footer;
    }
  }    
}

[data-page="contact"] .layout {
  display: grid;
  gap: 2em 0;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 0vh min-content auto 200px;
  grid-template-areas:
    ".        close           close"
    ".        description     .    "
    ".        content         .    "
    ".        footer          .    ";

  @mixin atSmall {
    gap: 3em 0;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 10em min-content auto 200px;
    grid-template-areas:
      ".        close           close"
      ".        description     .    "
      ".        content         .    "
      ".        footer          .    ";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 10em min-content auto 10vmax;
      grid-template-areas:
        ".        close           close"
        ".        description     .    "
        ".        content         .    "
        ".        footer          .    ";
    }
  }

  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: 10em min-content auto 10vmax;
      grid-template-areas:
        ".        .               close"
        ".        description     .    "
        ".        content         .    "
        ".        footer          .    ";
    }
  }

  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 10em min-content auto 8vmax;
      grid-template-areas:
        ".        .               close"
        ".        description     .    "
        ".        content         .    "
        ".        footer          .    ";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 10em min-content auto 6vmax;
      grid-template-areas:
        ".        .               close"
        ".        description     .    "
        ".        content         .    "
        ".        footer          .    ";
    }
  }

  /* CLOSE BUTTON */
  &__close {
    mix-blend-mode: normal;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @mixin supportsGrid {
      grid-area: close;
    }
  }

  /* DESCRIPTION TEXT */
  &__description {
    /* mix-blend-mode: normal; */
    mix-blend-mode: lighten;
    z-index: 20;
    @mixin supportsGrid {
      grid-area: description;
    }
  }

  /* CONTENT */
  &__content {
    mix-blend-mode: normal;
    /* mix-blend-mode: overlay; */
    z-index: 20;
    @mixin supportsGrid {
      grid-area: content;
    }
  }

  /* FOOTER */  
  &__footer {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 30;
    @mixin supportsGrid {
      grid-area: footer;
    }
  }    
}

[data-page="stack"] .layout {
  display: grid;
  gap: 2em 0;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 10vh min-content auto 200px;
  grid-template-areas:
    ".        close           close"
    ".        description     .    "
    ".        content         .    "
    ".        footer          .    ";

  @mixin atSmall {
    gap: 3em 0;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 10em min-content auto 200px;
    grid-template-areas:
      ".        close           close"
      ".        description     .    "
      ".        content         .    "
      ".        footer          .    ";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 10em min-content auto 10vmax;
      grid-template-areas:
        ".        close           close"
        ".        description     .    "
        ".        content         .    "
        ".        footer          .    ";
    }
  }

  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: 10em min-content auto 10vmax;
      grid-template-areas:
        ".        .               close"
        ".        description     .    "
        ".        content         .    "
        ".        footer          .    ";
    }
  }

  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 10em min-content auto 8vmax;
      grid-template-areas:
        ".        .               close"
        ".        description     .    "
        ".        content         .    "
        ".        footer          .    ";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 10em min-content auto 6vmax;
      grid-template-areas:
        ".        .               close"
        ".        description     .    "
        ".        content         .    "
        ".        footer          .    ";
    }
  }

  /* CLOSE BUTTON */
  &__close {
    mix-blend-mode: normal;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @mixin supportsGrid {
      grid-area: close;
    }
  }

  /* DESCRIPTION TEXT */
  &__description {
    /* mix-blend-mode: normal; */
    /* mix-blend-mode: multiply; */
    mix-blend-mode: lighten;
    z-index: 20;
    @mixin supportsGrid {
      grid-area: description;
    }
  }

  /* CONTENT */
  &__content {
    mix-blend-mode: normal;
    /* mix-blend-mode: overlay; */
    z-index: 20;
    @mixin supportsGrid {
      grid-area: content;
    }
  }

  /* FOOTER */  
  &__footer {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 30;
    @mixin supportsGrid {
      grid-area: footer;
    }
  }    
}

[data-page="portfolio"] .layout {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 10vh auto 200px;
  grid-template-areas:
    ".        close       close"
    ".        content     .     "
    ".        footer      .     ";

  @mixin atSmall {
    gap: 3em 0;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 10em auto 200px;
    grid-template-areas:
      ".      close        close"
      ".      content      ."
      ".      footer       .";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 10em auto 10vmax;
      grid-template-areas:
        ".      close        close"
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 10em auto 10vmax;
      grid-template-areas:
        ".      .            close"
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 10em auto 8vmax;
      grid-template-areas:
        ".      .            close"
        ".      content      ."
        ".      footer       .";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 10em auto 6vmax;
      grid-template-areas:
        ".      .            close"
        ".      content      ."
        ".      footer       .";
    }
  }

  /* CLOSE BUTTON */
  &__close {
    mix-blend-mode: normal;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @mixin supportsGrid {
      grid-area: close;
    }
  }

  /* CONTENT */
  &__content {
    /* mix-blend-mode: normal; */
    /* mix-blend-mode: overlay; */
    mix-blend-mode: normal;
    z-index: 20;
    @mixin supportsGrid {
      grid-area: content;
    }
  }

  /* FOOTER */  
  &__footer {
    mix-blend-mode: normal;
    /* mix-blend-mode: overlay; */
    z-index: 30;
    @mixin supportsGrid {
      grid-area: footer;
    }
  }    
}
