.layout {
  display: grid;
  gap: 100px 0;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 100vh auto 200px;
  grid-template-areas:
    "header      header        header"
    ".      diagram             ."
    ".      footer        .";

  @mixin atSmall {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: min-content auto 200px;
    grid-template-areas:
      ".      header        ."
      ".      diagram             ."
      ".      footer        .";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content auto 10vmax;
      grid-template-areas:
        ".      header        ."
        ".      diagram             ."
        ".      footer        .";
    }
  }

  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content auto 10vmax;
      grid-template-areas:
        ". header        ."
        ".      diagram             ."
        ".      footer        .";
    }
  }

  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content auto 8vmax;
      grid-template-areas:
        ". header        ."
        ".      diagram             ."
        ".      footer        .";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content auto 6vmax;
      grid-template-areas:
        ". header        ."
        ".      diagram             ."
        ".      footer        .";
    }
  }

  /* HEADER */
  &__header {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    font-size: 1rem; /* baseline */
    z-index: 30;
    width: 100%;

    @mixin supportsGrid {
      grid-area: header;
    }

    &--initial {
      @mixin flexCenter;
    
      @mixin atSmall {
        padding: clamp(4em, 4vmax + 1em, 10vmax) 0;
        justify-content: center;
      }
  
      @mixin atMedium {
        justify-content: left;
        padding-top: clamp(4em, 4vmax + 1em, 10vmax);
      }
    }
  
    &--standard {
      height: 20vh;
      @mixin supportsGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr min-content 5fr min-content 3fr min-content 6fr;
        grid-template-areas:
          ".          "
          "btn_close  "
          ".          "
          "headline   "
          ".          "
          "scroll_icon"
          ".          ";
      }
    }
  }

  /* DIAGRAM */
  &__diagram {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 20;
    @mixin supportsGrid {
      grid-area: diagram;
    }
  }

  /* FOOTER */  
  &__footer {
    /* mix-blend-mode: normal; */
    mix-blend-mode: overlay;
    z-index: 30;
    @mixin supportsGrid {
      grid-area: footer;
    }
  }    
}
