$logoColor: black;

.logo {
  max-width: 30vmax;
  @mixin supportsGrid {
    grid-area: logo;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content;
    grid-template-areas:
      "logo_icon"
      "logo_title"
      "logo_subtitle";
  }

  @mixin atSmall {
    @mixin supportsGrid {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr min-content min-content min-content 1fr;
      grid-template-areas:
        "logo_icon        ."
        "logo_icon        logo_title"
        "logo_icon        logo_title"
        "logo_icon        logo_subtitle"
        "logo_icon        .";
      gap: 0 4%;
    }
    max-width: 40vmax;
  }

  @mixin atMedium {
    width: clamp(35vmax, 35vw + 1em, 45vmax);
  }

  &__element {
    display: flex;
    width: 100%;
    height: 100%;
    fill: none;
  }
  
  &__icon {
    @mixin supportsGrid {
      grid-area: logo_icon;
    }
  }
  
  &__title {
    @mixin supportsGrid {
      grid-area: logo_title;
    }
  }
  
  &__subtitle {
    @mixin supportsGrid {
      grid-area: logo_subtitle;
    }
  }
  
  &__shape {
    overflow: visible;
  }
  
  &__path {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: none;
  
    &--no-stroke {
      stroke: none;
    }
  
    &--no-fill {
      fill: none;
    }
  
    &--thinnest {
      stroke-width: 2;
    }
  
    &--thin {
      stroke-width: 4;
    }
  
    &--filled {
      fill: $logoColor;
    }
  
    &--colorized {
      stroke: $logoColor;
    }
  
    &--pull-up {
      transform: translateY(-5%);
    }
  
    &--pull-down {
      transform: translateY(50%);
    }
  }
}
