/* source: https://codepen.io/karloespiritu/pen/pJNRqV?editors=1100 */

.social-links {
  /*   @mixin supportsGrid {
    grid-area: social;
  } */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-bottom: 4em;

  @mixin atMedium {
    margin: 4em 0;
  }

  &--animated {
    animation: fade-in-down 0.9s;
    animation-delay: 0.2s;
  }

  &__item {
    display: block;

    &--pull-right {
      margin-left: 1em;
    }
  }

  &__lnk {
    display: flex;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    text-align: center;
    outline: none;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
  }

  &__icon {
    width: 70%;
    height: 70%;
  }

  &__icon-path {
    fill: rgba(255, 255, 255, 0.7);
  }
}
