$gradient-top-left-mixed: linear-gradient(
  220deg,
  $stPatricksBlueLighter,
  $orangeYellowDark,
  $persianGreenBase,
  $darkPurpleBase
);

$gradient-radial: radial-gradient(
  $sandyBrownDarker,
  $orangeYellowDarker,
  $orangeYellowLighter,
  $sandyBrownDarker,
  $orangeYellowLighter
);

$gradient-right-gold: linear-gradient(
  to right,
  $orangeYellowDark,
  $sandyBrownDark
);

$gradient-angled-transparent: linear-gradient(
  12.5deg,
  hsl(45, 22%, 88%) 50%,
  hsl(45, 15%, 86%) 0
);

/* 

  BACKGROUNDS

-----------------------*/
.background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  /* gradients */
  &--gradient-goldish {
    border-top: 1px solid $orangeYellowDark;
    background-image: $gradient-right-gold;
  }

  &--gradient-whitish {
    border-top: 1px solid $whiteLighter;
    background-image: $gradient-angled-transparent;
    border-bottom: 1px solid $whiteDarker;
  }

  &--light {
    $gradient-a: linear-gradient(
      220deg,
      hsla(235, 42%, 44%, 1),
      hsla(43, 89%, 51%, 1),
      hsla(173, 58%, 39%, 1),
      hsla(264, 40%, 13%, 1)
    );
  
    $gradient-c: linear-gradient(
      330deg,
      hsla(235, 42%, 44%, 1),
      hsla(43, 89%, 51%, 1),
      hsla(173, 58%, 39%, 1),
      hsla(264, 40%, 13%, 1)
    );
  
    $gradient-b: linear-gradient(
      260deg,
      hsla(173, 58%, 19%, 1),
      hsla(173, 58%, 59%, 1)
    );
    
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    background-image: url($bgImageUrl1920x2408), url($bgImageUrl1920x2408), $gradient-a, $gradient-b, $gradient-c;
    background-blend-mode: lighten, screen, hard-light, exclusion;
  }

  &--light-test-1 {
    $gradient-b: linear-gradient(
      260deg,
      hsla(173, 58%, 19%, 1),
      hsla(173, 58%, 59%, 1)
    );

    $gradient-c: linear-gradient(
      330deg,
      hsla(264, 40%, 3%, 1),
      hsla(235, 42%, 44%, 1),
      hsla(264, 40%, 3%, 1)
    );
    
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(17, 0, 34);
    background-image: url($bgImageUrl1920x2408), $gradient-a, $gradient-c, $gradient-c;
    background-blend-mode: overlay, screen, luminosity, exclusion;
  }

  &--light-test-2 {
    $gradient-b: linear-gradient(
      260deg,
      hsla(173, 58%, 19%, 1),
      hsla(173, 58%, 59%, 1)
    );

    $gradient-c: linear-gradient(
      330deg,
      hsla(264, 40%, 3%, 1),
      hsla(235, 42%, 44%, 1),
      hsla(264, 40%, 3%, 1)
    );
    
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(238, 238, 238);
    background-image: url($bgImageUrl1920x2408), $gradient-a, $gradient-c, $gradient-c;
    background-blend-mode: overlay, screen, luminosity, exclusion;
  }

  &--light-blue {
    $gradient-a: linear-gradient(
      260deg,
      rgb(0, 0, 0),
      rgb(27, 27, 27)
    );

    $gradient-c: linear-gradient(
      330deg,
      hsla(264, 40%, 23%, 1),
      hsla(225, 40%, 28%, 1),
      hsla(264, 40%, 23%, 1)
    );
    
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(255, 255, 255);
    background-image: url($bgImageUrl1920x2408), $gradient-a, $gradient-c, $gradient-c;
    background-blend-mode: overlay, screen, color, exclusion;
  }

  &--dark {

    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(255, 255, 255);
    background-image: 
      url($bgImageUrl1920x2408), 
      linear-gradient(
        260deg,
        rgb(8, 8, 30),
        rgb(27, 27, 27)
      );
    background-blend-mode: overlay, multiply;
  }

  &--card1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/card1.jpg");
  }
  &--card2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/card2.jpg");
  }
  &--card3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/card3.jpg");
  }
}
