$gradient-top-left-mixed: linear-gradient(
  220deg,
  $stPatricksBlueLighter,
  $orangeYellowDark,
  $persianGreenBase,
  $darkPurpleBase
);

$gradient-radial: radial-gradient(
  $sandyBrownDarker,
  $orangeYellowDarker,
  $orangeYellowLighter,
  $sandyBrownDarker,
  $orangeYellowLighter
);

$gradient-right-gold: linear-gradient(
  to right,
  $orangeYellowDark,
  $sandyBrownDark
);

$gradient-angled-transparent: linear-gradient(
  12.5deg,
  hsl(45, 22%, 88%) 50%,
  hsl(45, 15%, 86%) 0
);

/* 

  BACKGROUNDS

-----------------------*/
.background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  /* gradients */
  &--gradient-goldish {
    border-top: 1px solid $orangeYellowDark;
    background-image: $gradient-right-gold;
  }

  &--gradient-whitish {
    border-top: 1px solid $whiteLighter;
    background-image: $gradient-angled-transparent;
    border-bottom: 1px solid $whiteDarker;
  }

  &--test {
    $gradient-a: linear-gradient(
      220deg,
      $stPatricksBlueLighter,
      $orangeYellowDark,
      $persianGreenBase,
      $darkPurpleBase
    );
  
    $gradient-c: linear-gradient(
      330deg,
      $stPatricksBlueLighter,
      $orangeYellowDark,
      $persianGreenBase,
      $darkPurpleBase
    );
  
    $gradient-b: linear-gradient(
      260deg,
      rgb(95, 95, 255),
      rgb(218, 218, 218)
    );
    
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    background-image: url($bgImageUrl1920x2408), url($bgImageUrl1920x2408), $gradient-a, $gradient-b, $gradient-c;
    background-blend-mode: lighten, screen, hard-light, exclusion;
  }

  &--card1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/card1.jpg");
  }
  &--card2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/card2.jpg");
  }
  &--card3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/card3.jpg");
  }
}
