.layout {
  /* position: relative; */
  /* width: 100%; */

  /* 
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 100vh min-content 30vmax;
  grid-template-areas:
    "header      header        header"
    ".      .             ."
    ".      footer        .";

  @mixin atSmall {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: min-content min-content 33vmax;
    grid-template-areas:
      ".      header        ."
      ".      .             ."
      ".      footer        .";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content min-content 20vmax;
      grid-template-areas:
        ".      header        ."
        ".      .             ."
        ".      footer        .";
    }
  }
  */
  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      /* grid-template-rows: min-content min-content 20vh; */
      grid-template-rows: min-content min-content min-content;
      grid-template-areas:
        ". header        ."
        ".      .             ."
        ".      footer        .";
    }
  }
  /* 
  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content min-content 20vh;
      grid-template-areas:
        ". header        ."
        ".      .             ."
        ".      footer        .";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: repeat(3, min-content);
      grid-template-areas:
        ". header        ."
        ".      .             ."
        ".      footer        .";
    }
  }
  */
  /* background-color: rgba(255, 255, 255, 0.349); */
  
  &__overlay {
    &--background {
      /* display: none !important; */
      @mixin supportsGrid {
        /* 
        If four <grid-line> values are specified,
        grid-row-start is set to the first value,
        grid-column-start is set to the second value,
        grid-row-end is set to the third value,
        and grid-column-end is set to the fourth value.
        */
        grid-area: 1 / 1 / -1 / -1;
      }
      z-index: 10;
    }

    &--header {
      /* display: none !important; */
      @mixin supportsGrid {
        grid-area: header;
        /* grid-area: 1 / 1 / -1 / -1; */
      }
      z-index: 30;
      /* background-color: transparent !important;   */
      mix-blend-mode: overlay;
    }
    
    &--diagram {
      /* background-color: #fff !important; */      
      /* display: none !important; */
      @mixin supportsGrid {
        /* grid-area: flowchart; */
        grid-area: 1 / 1 / -1 / -1;
      }
      z-index: 20;          
    }

    &--footer {
      /* display: none !important; */
      @mixin supportsGrid {
        grid-area: footer;
        /* grid-area: 1 / 1 / -1 / -1; */
      }
      z-index: 30;
      /* background-color: transparent !important;   */
    }    
  }
}
