.layout {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 100vh min-content 30vmax;
  grid-template-areas:
    "header      header        header"
    ".      diagram             ."
    ".      footer        .";

  @mixin atSmall {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: min-content min-content 33vmax;
    grid-template-areas:
      ".      header        ."
      ".      diagram             ."
      ".      footer        .";
  }

  @mixin atMedium {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content min-content 20vmax;
      grid-template-areas:
        ".      header        ."
        ".      diagram             ."
        ".      footer        .";
    }
  }

  @mixin atLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content min-content min-content;
      grid-template-areas:
        ". header        ."
        ".      diagram             ."
        ".      footer        .";
    }
  }

  @mixin atXLarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: min-content min-content 20vh;
      grid-template-areas:
        ". header        ."
        ".      diagram             ."
        ".      footer        .";
    }
  }

  @mixin atULarge {
    @mixin supportsGrid {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: repeat(3, min-content);
      grid-template-areas:
        ". header        ."
        ".      diagram             ."
        ".      footer        .";
    }
  }

  &__overlay {
    mix-blend-mode: overlay;

    &--header {
      @mixin supportsGrid {
        grid-area: header;
      }
      z-index: 30;
    }
    
    &--diagram {
      @mixin supportsGrid {
        grid-area: diagram;
      }
      z-index: 20;          
    }

    &--footer {
      @mixin supportsGrid {
        grid-area: footer;
      }
      z-index: 30;
    }    
  }
}
